<!-- <ul class="projects-table">
	{% for project in PROJECTS %}
	<li class="project-line">
		<a class="project-line-link placeholder-shown" href="{{ project.title | prepend: PROJECT_URL }}"
			data-uid="{{ project.title }}">

			<div class="col-2 project-id" data-sort="id" data-value="{{ project.project }}">
				<div class="resizable">
					{% include components/ui.brand.logo.liquid %}
					<div class="id">{{ project.project }}</div>
				</div>
			</div>
			<div class="mobile-only project-only index">
				{%- for media in project.media -%}
				{%- assign total_media = total_media | plus: 1 -%}
				{%- endfor -%}
				<span class="current">1</span> – {{ total_media }}
			</div>

			{%- if forloop.index < 10 -%} {%- assign project_index=forloop.index | prepend: '0' -%} {%- else -%} {%-
				assign project_index=forloop.index -%} {%- endif -%} <div class="col-2 project-index color-landscape"
				data-sort="index" data-value="{{ project_index }}">
				<span class="resizable">{{ project_index }}</span>
				</div>

				{%- assign color_on_hover = project.page_color | append: '-on-hover' %}
				<div class="col-2 project-client color-portrait {{ color_on_hover }}" data-sort="client"
					data-value="{{ project.client }}">
					<h3 class="resizable">{{ project.client }}</h3>
				</div>
				<div class="col-2 project-year color-portrait {{ color_on_hover }}" data-sort="year"
					data-value="{{ project.year }}">
					<span class="resizable">{{ project.year }}</span>
				</div>
				<div class="col-2 project-country color-landscape" data-sort="country"
					data-value="{{ project.country }}">
					<span class="resizable">{{ project.country }}</span>
				</div>
				<div class="col-1 project-status" data-sort="status" data-value="{{ project.status }}">
					<span class="resizable">{{ project.status }}</span>
				</div>

				<div class="mobile-only mobile-cover">
					{% include utils/global.liquid %}
					<div class="image">
						{% if project.media[0].type == 'image' %}
						<img class="lazyload" src="{{ LAZY_GIF }}"
							data-src="{{ project.media[0].source.data_src | prepend: PR_MEDIA_URL }}" data-srcset="{{ project.media[0].source.data_srcset.low | prepend: PR_MEDIA_URL | append: ' 600w' }}, 
									{{ project.media[0].source.data_srcset.medium | prepend: PR_MEDIA_URL | append: ' 1000w' }}, 
									{{ project.media[0].source.data_srcset.high | prepend: PR_MEDIA_URL | append: ' 2000w' }}" data-sizes="auto"
							alt="{{ project.media[0].filename }}">
						{% else if project.media[0].type == 'video' %}
						<video autoplay="" muted="" playsinline="" loop="">
							<source src="{{ project.media[0].source.src | prepend: PR_MEDIA_URL }}" type="video/mp4">
						</video>
						{% endif %}
					</div>
				</div>
		</a>
	</li>
	{% endfor %}
</ul> -->