{%- assign sortedSocial = TRANSLATE_LANG.info.contact.social | sort: 'title' | reverse -%}
{%- for social in sortedSocial -%}
	{%- if page.url contains 'about' or page.url contains 'a-propos' or about_wraper == 'about' -%}
		<br /> &rarr; <a href="{{ social.link }}" rel="noopener noreferrer" target="_blank">{{ social.title }}</a>
	{%- else -%}
		<a href="{{ social.link }}" target="_blank" rel="noopener">{{ social.title }}</a>
		{%- unless forloop.last -%}{{', '}}{%- endunless -%}
	{%- endif -%}
{%- endfor -%}